

.buttons {
    height: 20px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 40px;
    border: 1px solid dodgerblue;
    padding: 3px;
    border-radius: 5px;
}

.activebutton {
    background-color: #7bc4bc;
    border-radius: 5px;
    font-weight: bold;
    border: none;
}

.activebutton:active {
    background-color: #2b8999;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    color: white;
}

.disbutton {
    background-color: #83b7e8;
    border-radius: 5px;
    font-weight: bold;
    border: none;
}